/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* genral */

body {
  font-family: "Roboto", sans-serif;
}

.text-white {
  color: white;
}

.bg-primary {
  background-color: #80a6a6 !important;
}

.bg-secondary {
  background-color: #ffffff !important;
  box-shadow: 2px 2px 30px 3px #888888;
}

/* fontawesome icons */

nav i {
  color: #eabc39;
  font-size: 2.3rem;
}

.fa-star {
  color: #eabc39;
  font-size: 2.3rem;
  margin: 10px;
}

.fa-download {
  display: block;
  margin-bottom: 3%;
  margin-top: 3%;
  color: #eabc39;
  font-size: 1.8rem;
}

.portfolio-modal .close {
  color: #80a6a6;
}

.modal .fas, .modal a .fab {
  font-size: 2.3rem;
  margin: 3% 7%;
}

.btn-social i {
  font-size: 2.3rem;
}

.modal .btn-dark, .modal .btn-outline-dark {
  margin-bottom: 5%;
}

/* ----------------------------------------------------- nav bar */

#mainNav .navbar-toggler {
  padding: 0;
  margin: 0;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #898989;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #eabc39;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: padding-top 0s, padding-bottom 0s;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: #fff;
    background: #eabc39;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #eabc39;
  }
}

/* ----------------------------------------------------- title heading */

.title-heading {
  margin-top: -50px;
}

.masthead .masthead-heading {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.title-heading p {
  font-size: 2rem;
}

.masthead .masthead-subheading {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .masthead .masthead-heading {
    font-size: 3rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .title-heading h1 {
    font-size: 5rem;
  }
}

/* my profile image */

.masthead .masthead-avatar {
  width: 90%;
  border: 15px solid white;
  box-shadow: 2px 3px 5px 1px #777777;
  margin-bottom: 15%;
}

@media (min-width: 1200px) {
  .title-heading h1 {
    font-size: 5rem;
  }
  .masthead .masthead-avatar {
    width: 80%;
    transform: rotate(-5deg);
    position: relative;
    z-index: 1;
    margin: -8% 0% 5% 20%;
  }
}

/* about section */

.about {
  width: 80%;
  font-family: "Kalam", cursive;
  background-color: #fff7df;
  color: #555555;
  padding: 1.5%;
  margin: 7% 10% 5%;
  box-shadow: 2px 3px 5px 1px #444444;
}

.about h2 {
  padding-top: 1%;
}

.about p {
  font-size: 1.3rem;
  padding: 5%;
}

@media (min-width: 1200px) {
  .about {
    margin: -3% 10% 5%;
  }
  .about p {
    padding: 1%;
  }
}

/* hamburguer button */

button:focus {
  outline: none;
}

/* header */

@media (min-width: 992px) {
  .masthead {
    padding-bottom: 1rem;
  }
}

.masthead {
  padding-bottom: 1rem;
}

header {
  padding-bottom: 10px;
}

/* portfolio */

.portfolio .portfolio-item .portfolio-item-caption {
  background-color: rgba(128, 166, 166, 0.8);
}

/* modals */

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-dark.dropdown-toggle:focus, .btn-dark:focus, .btn-dark.focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-dark.dropdown-toggle:focus, .btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: none;
}

.portfolio .portfolio-item {
  box-shadow: 3px 5px 10px 3px #777777;
}

/* skills */

.skill {
  font-size: 2rem;
  /* margin-top: 10%; */
}

.skills-section h3 {
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 5%;
  font-size: 1.2rem;
}

.skills-section p {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .skills-section p {
    margin-left: 25px;
  }
}

.skills-block {
  padding: 2%;
}

.downloads {
  margin-top: 80px;
}

#skills .btn {
  margin-bottom: 5%;
  width: 260px;
}

/* contact */

.btn-info {
  color: #fff;
  background-color: #80a6a6;
  border-color: #80a6a6;
}

/* footer */

.btn-social {
  width: 4rem;
  height: 4rem;
}

.form-control {
  line-height: 1;
  height: calc(1.1em + 0.75rem + 0.25rem);
}

.floating-label-form-group input, .floating-label-form-group textarea {
  font-size: 1.3em;
}